<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSIXProject1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSIXProject1.Properties.Settings>
            <setting name="mscpath" serializeAs="String">
                <value />
            </setting>
            <setting name="mwcpath" serializeAs="String">
                <value />
            </setting>
            <setting name="author" serializeAs="String">
                <value>Your name</value>
            </setting>
        </VSIXProject1.Properties.Settings>
    </userSettings>
</configuration>